.ipynb_checkpoints/*
ipynb/.ipynb_checkpoints/*
src/.ipynb_checkpoints/*
notes/.ipynb_checkpoints/*
models/.ipynb_checkpoints/*
data/.ipynb_checkpoints/*
data/clothing-dataset-small/
ipynb/__pycache__/
src/__pycache__/
.env 
jupyterlab.yml
bash/ec2_zoomcamp_pair.pem
bash/ht-simplygreens_accessKeys.csv
bash/ec2_public.sh
ipynb/05_homework/.ipynb_checkpoints/*
data/02_data_*
data/03_data_*
data/06_data_*
data/midterm_*
ipynb/05_homework
ipynb/09_*
ipynb/02_*
ipynb/03_*
ipynb/04_*
ipynb/05_*
ipynb/06_*
ipynb/07_*
ipynb/08_*
ipynb/09_*
ipynb/10_*
notes/week-2-notes*
notes/week-3-notes*
notes/week-4-notes*
notes/week-5-notes*
notes/week-6-notes*
notes/week-7-notes*
notes/week-8-notes*
notes/week-9-notes*
notes/week-10-notes*